---
import { SITE_TITLE } from '../consts';
const baseUrl = import.meta.env.BASE_URL.endsWith('/') 
	? import.meta.env.BASE_URL 
	: import.meta.env.BASE_URL + '/';
---

<header>
	<nav>
		<a href={baseUrl} class="logo">
			{SITE_TITLE}
		</a>
		<div class="links">
			<a href={`${baseUrl}blog`}>Архив</a>
			<a href={`${baseUrl}about`}>Инфо</a>
		</div>
	</nav>
</header>

<style>
	header {
		padding: var(--vertical-rhythm) var(--horizontal-padding);
		max-width: var(--max-width);
		margin: 0 auto;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		font-family: 'JetBrains Mono', monospace;
		font-weight: bold;
		color: #fff;
		font-size: 1.1rem;
		text-transform: uppercase;
	}

	.links {
		display: flex;
		gap: 24px;
	}

	.links a {
		font-family: 'JetBrains Mono', monospace;
		font-size: 0.9rem;
		color: var(--color-text-secondary);
	}

	.links a:hover {
		color: var(--color-accent);
	}
</style>
